* {
  box-sizing: border-box;
}

:focus {
  /* TODO */
}

body {
  background-image: linear-gradient(to right, yellow, orange);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background: rgba(0, 0, 0, 0.05);
  font-size: 20px;
  border: 2px solid orange;
  padding: 8px 10px;
}

input:focus {
  transition: border 0.5s;
  border: 2px solid red;
  outline: none;
}

.search-container {
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}

.search-container input {
}

.search-container .suggestions {
  /* TODO */
}

ul {
  height: 200px;
  overflow: auto;
  scrollbar-color: red orange;
  scrollbar-width: thin;
  list-style-type: none;
  padding: 0px;
  font-size: 20px;
  margin: 0px;
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.05);
}

ul li:hover {
  background: orange;
  cursor: pointer;
}

input {
  /* TODO */
}